{% load static %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=451721064933095";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{% url 'hosting:home' %}" class="logo">
      <img src="{% static 'hosting/img/logo.png' %}" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Top hosting</a></li>
        {% comment %}<li class="nav-link"><a href="javascript:void(0)">{% now "F" %} promo codes</a></li>{% endcomment %}
      </ul>
    </nav>
  </div>
</header>
