{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Top Web Hosting of {% now "Y" %}</title>

  <meta name="description" content="
  We review the best web hosting companies of {% now "Y" %}. Best Online Web Hosting source for rating and reviews.
  ">
  <link rel="stylesheet" href="{% static "hosting/css/style.css" %}" type="text/css" />
  <link rel="icon" href="{% static 'hosting/img/favicon.png' %}" type="image/png">
</head>
