{% extends "hosting/base.html" %}

{% block content %}

<div class="review">
  <div class="review__sidebar">
    <div class="review-info">
      <div class="review-info__avatar">
        <img src="{{ hosting.avatar.url }}" />
      </div>
      <div class="review-info__visit">
        <a href="{% url 'hosting:click' hosting.slug %}" target="_blank">
          <span>
            Visit site
          </span>
        </a>
      </div>
      <div class="review-info__score">
        {{ hosting.score }}
        <span>
          score
        </span>
      </div>
    </div>

    <div class="sidebar-host">
      <h1>
        Top Hostings of 2015
      </h1>
      {% for top_hosting in top_hostings %}
      <div class="sidebar-host__item">
        <div class="logo">
          <img src="{{ top_hosting.logo.url }}" />
        </div>
        <div class="score">
          {{ top_hosting.score }}
          <div class="review">
            <a href="{% url 'hosting:review' top_hosting.slug %}">
              review
            </a>
          </div>
        </div>
        <div class="visit">
          <a href="{% url 'hosting:click' hosting.slug %}" target="_blank">
            <span>
              Visit site
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="review__content">
    <h1>
      {{ hosting }} review
    </h1>
    {{ hosting.review|safe|linebreaks }}

    <div class="visit">
      <a href="{% url 'hosting:click' hosting.slug %}" target="_blank">
        <span>
          Visit site
        </span>
      </a>
    </div>
  </div>
</div>



{% endblock %}
