/* Footer
========================================================================== */

 footer {
   text-align: center;
   font-size: 0.8rem;
   margin: 2rem;
   color: #999;

   a {
     color: #999;
   }
}
