/* Utilities
========================================================================== */

.add-margin { margin-bottom: .5rem; }
.add-top-margin {margin-top: 2rem; }
.remove-margin { margin: 0; }
.float-right { float: right; }
.align-right { text-align: right; }
.align-center { text-align: center; }
